<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    <span>(pickup date: {{pickup_date}})</span>
  </div>
  <div class="meta">


    Order created on {{format_date created_at}} by {{user.username}}
    |
    <a href="/post/{{id}}">{{vote_count}} {{format_plural "like" vote_count}}</a>
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>


  </div>
</article>