<article>
  <a href="./dashboard.handlebars"> &larr; Back to dashboard</a>
  <h2>
    Edit Your Order
  </h2>
  <form class="edit-order-form">
    <div>
      <input name="order-title" type="text" value="{{order.title}}" />
      <span>({{format_url order.order_url}})</span>
    </div>
    <div>
      {{order.vote_count}} {{format_plural "point" order.vote_count}} by you on {{format_date order.created_at}}
      |
      <a href="/order/{{order.id}}">{{order.comments.length}} {{format_plural "comment" order.comments.length}}</a>
    </div>
    <button type="submit">Save order</button>
    <button type="button" class="delete-order-btn">Delete order</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments order.comments}}

<script src="/public/javascript/edit-post.js"></script>
<script src="/public/javascript/delete-post.js"></script>
<script src="/public/javascript/comment.js"></script>